<div id="confirmModal" class="modal" style="display:none;">
    <div class="modal-backdrop" data-modal-close="1"></div>

    <div class="modal-box">
        <div class="modal-title" id="confirmTitle">Подтверждение</div>
        <div class="modal-body" id="confirmMessage">
            Вы уверены?
        </div>

        <div class="modal-actions">
            <button type="button" class="secondary" data-modal-cancel="1">Отмена</button>
            <button type="button" class="danger" data-modal-ok="1">ОК</button>
        </div>
    </div>
</div>
